Repository team-cobee/cobee-server, pull requests merged in 2025-08, with the labels that each got.

#10 Feat/9/publicprofile crud
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/main/java/org/cobee/server/Enum/Lifecycle.java
  src/main/java/org/cobee/server/Enum/Personality.java
  src/main/java/org/cobee/server/member/Member.java
  src/main/java/org/cobee/server/member/MemberRepository.java
  src/main/java/org/cobee/server/member/PublicProfile.java
  src/main/java/org/cobee/server/member/UserPreferences.java
  src/main/java/org/cobee/server/publicProfile/controller/PublicProfileController.java
  src/main/java/org/cobee/server/publicProfile/domain/PublicProfile.java
  src/main/java/org/cobee/server/publicProfile/domain/enums/Lifestyle.java
  src/main/java/org/cobee/server/publicProfile/domain/enums/Personality.java
  src/main/java/org/cobee/server/publicProfile/dto/PublicProfileRequestDto.java
  src/main/java/org/cobee/server/publicProfile/dto/PublicProfileResponseDto.java
  src/main/java/org/cobee/server/publicProfile/dto/PublicProfileUpdateRequestDto.java
  src/main/java/org/cobee/server/publicProfile/repository/PublicProfileRepository.java
  src/main/java/org/cobee/server/publicProfile/service/PublicProfileService.java
  src/main/java/org/cobee/server/recruit/RecruitPost.java
  src/test/java/org/cobee/server/publicProfile/controller/PublicProfileControllerTest.java
  src/test/resources/application.yml
Labels: ✅ test, :sparkles: feat, ❤️ 주연

#14 BUG : 해결 Feat/9/publicprofile crud
  src/test/java/org/cobee/server/publicProfile/controller/PublicProfileControllerTest.java
Labels: :bug: fix, ✅ test, ❤️ 주연, 🐞bug

#15 [BE/FEAT] entity & error handling & apiResponse
  src/main/java/org/cobee/server/Enum/Gender.java
  src/main/java/org/cobee/server/alarm/controller/AlarmController.java
  src/main/java/org/cobee/server/alarm/domain/Alarm.java
  src/main/java/org/cobee/server/alarm/domain/AlarmNotice.java
  src/main/java/org/cobee/server/alarm/domain/enums/AlarmType.java
  src/main/java/org/cobee/server/alarm/dto/AlarmRequest.java
  src/main/java/org/cobee/server/alarm/repository/AlarmNoticeRepository.java
  src/main/java/org/cobee/server/alarm/repository/AlarmRepository.java
  src/main/java/org/cobee/server/alarm/service/AlarmService.java
  src/main/java/org/cobee/server/chat/controller/ChattingRoomController.java
  src/main/java/org/cobee/server/chat/domain/ChattingRoom.java
  src/main/java/org/cobee/server/chat/repository/ChattingRoomRepository.java
  src/main/java/org/cobee/server/chat/service/ChattingRoomService.java
  src/main/java/org/cobee/server/comment/controller/CommentController.java
  src/main/java/org/cobee/server/comment/domain/Comment.java
  src/main/java/org/cobee/server/comment/repository/CommentRepository.java
  src/main/java/org/cobee/server/comment/service/CommentService.java
  src/main/java/org/cobee/server/config/CorsConfig.java
  src/main/java/org/cobee/server/config/SwaggerConfig.java
  src/main/java/org/cobee/server/global/error/code/ErrorCode.java
  src/main/java/org/cobee/server/global/error/exception/CustomException.java
  src/main/java/org/cobee/server/global/error/handler/GlobalExceptionHandler.java
  src/main/java/org/cobee/server/global/response/ApiResponse.java
  src/main/java/org/cobee/server/member/controller/MemberController.java
  src/main/java/org/cobee/server/member/domain/Member.java
  src/main/java/org/cobee/server/member/domain/UserPreferences.java
  src/main/java/org/cobee/server/member/domain/enums/Gender.java
  src/main/java/org/cobee/server/member/domain/enums/SocialType.java
  src/main/java/org/cobee/server/member/dto/MemberRequest.java
  src/main/java/org/cobee/server/member/repository/MemberRepository.java
  src/main/java/org/cobee/server/member/service/MemberService.java
  src/main/java/org/cobee/server/publicProfile/domain/PublicProfile.java
  src/main/java/org/cobee/server/publicProfile/dto/PublicProfileRequestDto.java
  src/main/java/org/cobee/server/publicProfile/dto/PublicProfileUpdateRequestDto.java
  src/main/java/org/cobee/server/publicProfile/service/PublicProfileService.java
  src/main/java/org/cobee/server/recruit/controller/RecruitController.java
  src/main/java/org/cobee/server/recruit/domain/ApplyRecord.java
  src/main/java/org/cobee/server/recruit/domain/RecruitPost.java
  src/main/java/org/cobee/server/recruit/domain/enums/RecruitStatus.java
  src/main/java/org/cobee/server/recruit/dto/RecruitRequest.java
  src/main/java/org/cobee/server/recruit/repository/ApplyRecordRepository.java
  src/main/java/org/cobee/server/recruit/repository/RecruitPostRepository.java
  src/main/java/org/cobee/server/recruit/service/RecruitService.java
  src/test/java/org/cobee/server/publicProfile/controller/PublicProfileControllerTest.java
Labels: :sparkles: feat, 🩷 희주

#26 [BE/FEAT] 소셜 로그인 및 ocr 구현
  .gitignore
  build.gradle
  gradlew
  src/main/java/org/cobee/server/auth/controller/AuthController.java
  src/main/java/org/cobee/server/auth/dto/MemberInfoDto.java
  src/main/java/org/cobee/server/auth/dto/OAuth2UserInfo.java
  src/main/java/org/cobee/server/auth/dto/OAuthAttributes.java
  src/main/java/org/cobee/server/auth/handler/HttpCookieOAuth2AuthorizationRequestRepository.java
  src/main/java/org/cobee/server/auth/handler/OAuth2AuthenticationFailureHandler.java
  src/main/java/org/cobee/server/auth/handler/OAuth2AuthenticationSuccessHandler.java
  src/main/java/org/cobee/server/auth/jwt/JwtAuthenticationFilter.java
  src/main/java/org/cobee/server/auth/jwt/JwtTokenProvider.java
  src/main/java/org/cobee/server/auth/jwt/TokenInfo.java
  src/main/java/org/cobee/server/auth/service/AuthService.java
  src/main/java/org/cobee/server/auth/service/CustomOAuth2UserService.java
  src/main/java/org/cobee/server/auth/service/PrincipalDetails.java
  src/main/java/org/cobee/server/auth/util/CookieUtils.java
  src/main/java/org/cobee/server/config/RestTemplateConfig.java
  src/main/java/org/cobee/server/config/SecurityConfig.java
  src/main/java/org/cobee/server/config/SwaggerConfig.java
  src/main/java/org/cobee/server/home/controller/HomeController.java
  src/main/java/org/cobee/server/member/domain/Member.java
  src/main/java/org/cobee/server/member/repository/MemberRepository.java
  src/main/java/org/cobee/server/ocr/controller/OcrController.java
  src/main/java/org/cobee/server/ocr/dto/OcrResponse.java
  src/main/java/org/cobee/server/ocr/dto/OcrVerificationResponseDto.java
  src/main/java/org/cobee/server/ocr/service/OcrMemberService.java
  src/main/java/org/cobee/server/ocr/service/OcrService.java
  src/main/java/org/cobee/server/publicProfile/controller/PublicProfileController.java
  src/main/resources/application.yml
  src/test/java/org/cobee/server/publicProfile/controller/PublicProfileControllerTest.java
Labels: :sparkles: feat, ❤️ 주연
